*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: instrument-sans;
    src: url("./assets/fonts/instrument-sans.ttf");
}

@font-face {
    font-family: instrument-serif;
    src: url("./assets/fonts/instrument-serif-i.ttf");
}

html{
    font-size: 62.5%;
}

.inner-wrapper{
    width: 90%;
    margin: auto;
}

button{
    font-family: inherit;
    cursor: pointer;
}

button.primary-btn{
    background-color: green;
    color: #fff;
}

.italic{
    font-family: instrument-serif;
}

.main-heading{
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
    font-weight: 900;
    font-family: instrument-sans;
}